{% extends "main/main.html" %}
{% block content %}
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>We Are ChooChoo Continental<span></span></h1>
            <p>Check out our awesome train reservation system!</p>
            <a href="#searchTrains" class="btn btn-custom btn-lg page-scroll">Search Trains</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>


     {% csrf_token %}
       
       <br>
       
  </form>
<style>
  #search_title {
    margin-top: 110px;
  }
</style>
<!-- Features Section -->
<div id="searchTrains" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2 id="search_title">Search Trains</h2>
    </div>
    <form role="form" method="POST" action= ""> {% csrf_token %}

    <div class="row">
        <div class="col-xs-6 col-md-3">
          <h3>From: </h3>
          <select name="station-from" id="station-from" class="form-control form-control-lg"></select>
          <!-- <input id = "station-from" name = "station-from" class="form-control form-control-lg" type="text"> -->
        </div>
        <div class="col-xs-6 col-md-3">
          <h3>To: </h3>
          <select name="station-to" id="station-to" class="form-control form-control-lg"></select>
          <!-- <input id = "station-to" name = "station-to" class="form-control form-control-lg" type="text"> -->
        </div>
        <div class="col-xs-6 col-md-3">
          <h3>Date: </h3>
          <input id = "date" name = "date" class="form-control form-control-lg" type="date">
        </div>
        <div class="col-xs-6 col-md-3">
          <h3>Time of day:</h3>
          <input id = "station-to" name = "station-to" class="form-control form-control-lg" type="text">
          
        </div>
    </div>
    <br>
    <div class = "row">
    <div class="col-md-10 col-md-offset-1 section-title">
       <button type="submit" class="btn btn-custom btn-lg">Search</button>
      
    </div>
      
    </div>
    </form>

  </div>
</div>

{% endblock %}
